/* PRUEBA DE MARQUEE ESTE ES DINAMICO EN MARQ_NOMATCHS SCRIPT */

/* .custom_marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.custom_marquee h4 {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: custom_marquee 25s linear infinite;
  -webkit-animation: custom_marquee 25s linear infinite;
  animation: custom_marquee 25s linear infinite;
}
@-moz-keyframes custom_marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes custom_marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes custom_marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
} */

/* .custom_marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.custom_marquee h4 {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: custom_marquee 5s linear infinite;
  -webkit-animation: custom_marquee 5s linear infinite;
  animation: custom_marquee 5s linear infinite;
}
@-moz-keyframes custom_marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(100%);
  }
}
@-webkit-keyframes custom_marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes custom_marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
} */
